/*iconfont*/

@font-face {
  font-family: 'scylla';
  src:url('../fonts/scylla.eot?vjf0rq');
  src:url('../fonts/scylla.eot?#iefixvjf0rq') format('embedded-opentype'),
  url('../fonts/scylla.ttf?vjf0rq') format('truetype'),
  url('../fonts/scylla.woff?vjf0rq') format('woff'),
  url('../fonts/scylla.svg?vjf0rq#scylla') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'scylla';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-envelope-o:before {
  content: "\f003";
}
.icon-social-facebook:before {
  content: "\e611";
}
.icon-left:before {
  content: "\e60f";
}
.icon-right:before {
  content: "\e610";
}
.icon-arow_left:before {
  content: "\e609";
}
.icon-arow_right:before {
  content: "\e60a";
}
.icon-up:before {
  content: "\e607";
}
.icon-no:before {
  content: "\e60b";
}
.icon-yes:before {
  content: "\e60c";
}
.icon-manu:before {
  content: "\e608";
}
.icon-mail:before {
  content: "\e600";
}
.icon-search:before {
  content: "\e601";
}
.icon-arrow-right2:before {
  content: "\e60d";
}
.icon-arrow-left2:before {
  content: "\e60e";
}
.icon-facebook:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-feed2:before {
  content: "\e604";
}
.icon-github2:before {
  content: "\e605";
}
.icon-linkedin2:before {
  content: "\e606";
}

/*-------- Mobile styles ----------*/

@media only screen and (max-width: 40em) {

  .social_footer a.nl {
    display: block;
    border-left: 0px solid transparent !important;
    margin-top: 1.5rem;
  }

  .inner_bg_3 {
    background-image: none !important;
  }

}

@media only screen and (max-width: 64.063em) {

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0.7rem !important;
  }

  .current {
    border: 0px solid transparent !important
  }

  #content {
    padding: 2.5rem 0.5rem !important;
  }
}

/* ----- reset -------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

div:focus {
  outline:none;
}

/*------ general helpers ---------*/


/* Hide teaser copy in left and top nav */
.side-nav .menu-detail, header .menu-detail {
  display: none;
}

.animated {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

ul {
  list-style-image: url('../img/arow.png');
}

.icon-search {
  margin-right: 0.5rem;
  color: #DDE0E7;
}

.search_continer {
  margin-top: -3px;
}

.search_continer div {
  padding: 0;
}

.top-bar input::-webkit-input-placeholder {
  color: #888;
}
.top-bar input::-moz-placeholder {
  color: #888;
}
.top-bar input:-moz-placeholder {   /* Older versions of Firefox */
  color: #888;
} 
.top-bar input:-ms-input-placeholder { 
  color: #888;
}

/*------ HP -------*/


#hero {
  background-color: #3a2d55;
  min-height: 600px;
  padding-bottom: 2.5rem;

}

/*Start Summit Change*/

#hero {
  background-color: #392C58;
  background-image: url('/img/hero_bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  padding-bottom: 0 !important;
}

#fetuers {
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}





.hiro {
  margin-top: -410px !important;
  z-index: 0!important;
}

.top-bar-section {
  z-index: 1 !important;
}

/*End summit change*/


.hero_wraper {
  min-height: 480px;
}

.hp_bg {
  background-image: url('../img/hiro.png');
  background-position: 120% center;
  background-repeat: no-repeat;
}

.hiro {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -100px;
  max-width: none !important;
}

.hero_ttl {
  color: #F5F5F6;
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  letter-spacing: -0.02rem;
  font-weight: 500 !important;
  text-shadow: 1px 1px 13px rgba(1, 1, 1, 0.7);
}

.hero_ttl span.blue {
  color: #51B9DE !important;
}

.hero_continer {
  padding-left: 2.75rem;
  border-left: 2px solid #DCD8E3;
  margin-top: 9rem;
}

.hero_continer a.button {
  margin-bottom: 0;
}

.sub_hero_ttl {
  font-size: 1.45rem;
  color: #F5F5F6;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 31rem;
}

.contain-to-grid {
  background: transparent;
}

.logo_text {
  margin-top: 6rem;
}





/*-------- features --------*/

.features_list {
  min-height: 12rem;
  padding-top: 1rem;
}

.feature_icon {
  margin-bottom: 1.5rem;
}

.feature_item {
  min-height: 5rem;
  padding-right: 1.5rem;
}

.feature_item h4 {
  color: #DCD8E3;
  font-size: 1.125rem;
  font-weight: 300;
}

/*--------  TPS  ---------*/

#tps {
  padding: 5rem 0;
}

#tps h2.tps_ttl {
  margin-bottom: 2rem;
}

.tps_ttl {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: -0.05rem;
}

.tps_nav_curent a {
  color: #667AC7 !important;
  font-weight: 500;
  border-top: 1px solid #667AC7 !important;
}

.tps_nav {
  padding: 0;
  margin: 4rem 0 0 0;
  list-style: none;
}

.tps_nav > li {
  display: block;
  width: 20%;
  float: left;
}



.V_height {
  position: relative;
  height: 100% !important;
}

.tps_nav > li > a {
  display: block;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #979797;
  color: #565C5E;
  font-size: 0.9375em;
  cursor: pointer;
  -webkit-transition: all 0.3;
  -moz-transition: all 0.3;
  -ms-transition: all 0.3;
  -o-transition: all 0.3;
  transition: all 0.3;
}

.topbar_continer {
  
}


.tps_item h4 {
  color: #565C5E;
}

.marker {
  height: 60px;
  width: 20%;
  position: absolute;
  top: -2px;
  left: 0px;
  border-top: 5px solid #667AC7;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: -1;
}

.slick-slider {
  margin: 0 !important;
}

#tps .slick-slide img {
  margin: 0rem auto 0rem auto;
}



#tps p {
  padding-right: 3rem;
}

.slick-disabled {
  opacity: 0 !important;
}

/*EVENTS*/

#events {
  background-color: #F4F3F5;
  padding: 2rem 0 3rem 0;
  margin: 0 0 1rem 0;
}

.events_bg {
  background-image: url('../img/event_Icon.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

.rsvp {
  font-size: 0.9375em;
  color: #0A475C !important;
  border: 1px solid #4BBCD7;
  font-weight: 500 !important;
  padding: 0.1rem 1.5rem !important;
  border-radius: 1rem;
  line-height: 1.85rem !important;
  background: #4BBCD7 !important;
  position: relative;
  top: -1px;
}

#events h2 {
  font-weight: 400;
  color: #6673D1;
  line-height: 1.1;
  padding-right: 3rem;
  font-size: 1.4375rem;
  max-width: 4rem;
  margin: 1.4rem 0 0 2.8rem;
}

#events .slick-prev:before, .slick-next:before {
  color: #D8D8D8
}

#events .slick-prev {
  right: 25px !important;
  left: auto !important;
  z-index: 3000;
}

#events .slick-next {
  right: 0px !important;
}




.event_item p {
  margin: 1rem 0 0 0;
}

.event_item a {
  color: #565C5E;
}

.event_date {
  padding-right: 0.5rem;
}


/*----------  benchmark  ----------*/

#benchmark {
  background-color: #F4F3F5;
  padding: 5rem 0;
}

#benchmark h2 {
  margin-bottom: 0.25rem;
}

#benchmark.subhead {

}

/*teach*/

#teach {
  padding: 5rem 0 ;
}

#teach h2 {
  font-weight: 300;
  color: #6673D1;
  line-height: 1.25;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}

.arow {
  display: block;
  font-size: 2rem;
  color: #D8D8D8;
  position: absolute;
  bottom: 50%;
  z-index: 999;
}

.prevArrow {
  left: -1rem;
}

.nextArrow {
  right: -1rem;
}

.slick-dots button:before {
  color: #D8D8D8 !important;
}

.slick-active button:before {
  color: #52BADE!important;
}

.tps_list .slick-dots button:before {
  color: #565C5E !important;
}

#team {
  background-image: url('../img/team_bg.jpg');
  background-size: cover;
  background-position: center center;
  padding: 8rem 0;
}

#team h2,
#team p {
  color: #DCD8E3;
}

.team_txt {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  color: #DCD8E3;
  text-align: left;
  margin-bottom: 2rem;
}

#team h2 {
  font-weight: 400;
  margin: 1rem 0;
}

#team .button {
  margin-top: 1rem;
}

/*footer*/

footer {
  padding: 3rem 0;
  background-color: #3a2d55;
}

footer .footer_links a {
  color: #DCD8E3;
}

#footer_mascot {
  position: absolute;
  top: -4.5rem;
}

.footer_links {
  list-style-image: none;
  list-style-type: none;
  font-size: 0.9375rem;
  font-weight: 300;
  margin-left: 0;
}

footer .icon-bar a span {
  display: inline-block;
  vertical-align: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #9FA3AC;
  line-height: 2.5rem;
  color: #261E3B;
  position: relative;
  left: -1rem;
  top: -0.85rem;
}

footer .icon-bar {
  background: transparent;
}

footer .icon-bar .item:hover {
  background: transparent;
}

footer .icon-bar .item:hover span {
  background-color: #68C0DE;
  color: #14607B;
}

footer .icon-bar a {
  background: transparent;
}

footer .newsletter {
  padding: 0 1rem 0 0;
}

footer input[type=text] {
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #1A152B;
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.50);
  border: 0px solid transparent;
  padding-left: 1.5rem;
}

footer .newsletter p {
  margin: 0.5rem;
  color: #DCD8E3;
  font-size: 0.9375rem;
  font-weight: 300;
}

.social_footer {
  text-align: center;
  border-top: 1px solid #544474;
  padding: 1rem 0;
}

.social_footer a.item {
  color: #9FA3AC;
  font-size: 1.25rem;
  margin: 0 0.4rem;
}

.social_footer a.nl {
  color: #9FA3AC;
  padding-left: 1rem;
  border-left: 1px solid #9FA3AC;
  margin-left: 0.5rem;
  font-weight: 300;
}

.icon-envelope-o {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.icon-bar {
  height: 4rem;
}

.up {
  position:absolute;
  top: -6rem;
  left: 0.7rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #69C0DE;
  border-radius: 50%;
  text-align: center;
}

.up span {
  line-height: 2.2rem;
  font-size: 0.8rem;
  color: #14607B;
}


/*inner pages*/

#header {
  background-color: #3a2d55;
}

.inner_bg {
  background-image: url('../img/art_inner.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.inner_bg_2 {
  background-image: url('../img/art_inner_2.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.inner_bg_3 {
  background-image: url('../img/art_inner_3.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
}

.inner_bg_4 {
  background-image: url('../img/art_inner_4.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
}



.logo {
  position: relative;
  top: -1.7rem;
  margin-top: 1rem;
}

#header .logo_text {
  margin: 1rem 0;
}

/*Side Navigation */

.side-nav,
.side-nav ul {
  list-style-position: inside;
  list-style-image: none;
  
}

.side-nav {
  margin-left: 0 !important;
}

.side-nav.tm_full{
  color: #6673D1 !important;
}


.side-nav li ul,
.side-nav li ul li ul {
  margin-bottom: 1rem !important;
  margin-left: 1rem !important;
}

.side-nav li {
  list-style: none;
  margin: 0 !important;
}

.active_nav_item > a {
  color: #6673D1 !important;
}

.side-nav li a:not(.button) {
  color: #4C5253 ;
  font-size: 0.9375rem;
  padding: 0.1rem 0.875rem !important;
}

.side-nav li ul {
  border-left: 2px solid #6673D1;
  margin: 0.5rem 0 0.5rem 1rem;
}

.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
  background: transparent;
  color: #6673D1;
}

.side_nav_search {
  border: 0px solid transparent !important;
  background: #ECECEC !important;
  font-size: 0.9375rem !important;
  color: #4C5253 !important;
  border-bottom-left-radius: 1rem !important;
  border-top-left-radius: 1rem !important;
  padding: 0.2rem 1.4rem !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
}

.side_nav_search_btn {
  border: 0px solid transparent !important;
  background: #ECECEC !important;
  border-bottom-right-radius: 1rem !important;
  border-top-right-radius: 1rem !important;  
  line-height: 1.2rem !important;
  padding: 0.55rem 0.06rem 0 0.5rem !important;
  color: #878586 !important;
  margin-bottom: 0 !important;
}

.side_nav_search_btn:hover {
  border: 0px solid transparent !important;
  background: #ECECEC !important;
  color: #878586 !important;

}

/*doc and traning*/

.content > div:first-child {
  border-top: 0px solid transparent !important;
}

#content {
  padding: 5rem 0;
}

#content h1 {
  font-size: 2.15rem;
  color: #6673D1;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 2rem 0;
}

#content p {
  font-weight: 400;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  line-height: 1.6rem;
}

#content ul li p {
  margin-bottom: 0 !important;
}

#content h2 {
  font-size: 1.65rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#content h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

#content h4 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 1em 0;
}


/* plain "code" elements for inline */
#content code {
  color: #4C5253;
  border: 0px;
  padding: 0px;
}

/* "code" inside "pre" for code blocks */
#content pre code {
  display: block;
  color: #4C5253;
  overflow: auto;
  padding: 1.5rem 1.5rem; 
  border-left: 2px solid #6673D6;
  background: #ECECEC;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  line-height: 1.15;
}

#content code {
  display: inline-block;
  color: #4C5253;
  padding: 0.3rem 0.3rem 0.05rem 0.3rem; 
  background: #ECECEC;
  margin-right: 0.5rem;
}



#content table {
  background: #fff;
  border: 1px solid transparent;
  width: 100%;
}

#content img {
  margin-bottom: 1rem;
}

td, th {
  border-bottom: 2px solid #ECECEC;
  
}

th, tr, td {
  color: #4C5253 !important;
  font-size: 0.9375rem;
  font-weight: 400;
}

thead {
  background: #ECECEC !important;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: transparent !important;
}

table thead tr th, table thead tr td {
  padding: 0.5rem 0.625rem 0.35rem 0.625rem !important;
}

.icon-yes {
  color: #57CC8C;
}

.icon-no {
  color: #F6374E;
}

.panel.radius {
  border-radius: 0.25rem;
}

a.panel_link:hover .panel {
  border: 1px solid #6673D3 !important;
  background: #EAE7EC !important;
}

#content .panel {
  background: #F4F3F5;
  border: 1px solid #DDE0E7;
}

#content .panel h5 {
  /* Getting started with: */
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.750rem;
  color: #525055;
}

#content .panel p {
  color: #525055;
  margin-bottom: 1rem;
}

button.small, .button.small {
  padding: 0.5rem 1.25rem 0.6rem 1.25rem;
  font-size: 0.85rem;
}

#content button, 
#content .button {
  background: #6673D3;
  color: #fff;
  font-weight: 300;
}

#content button, 
#content .button {
  background: #6673D3;
  color: #fff;
  font-weight: 300;
}

#content button:hover, 
#content .button:hover {
  background: #4BBCD7;
  color: #fff;
}

.panel .button {
  margin: 0;
}

#content strong {
  color: #525055;
  font-weight: 500;
}

.full_width {
  background: #F4F3F5;
  padding: 5rem 0;
  margin: 2.5rem 0;
}

p.quote {
  font-size: 1.5rem !important;
  color: #4A4A4A;
  line-height: 2rem;
  font-style: italic;
  font-weight: 300 !important;
  margin-bottom: 3rem !important;
}

/*Blog*/

#content article.teaser p.post_meta {
  margin: 0;
  font-weight: 300;
  font-size: 0.8125rem;
  color: #9B9B9B;
}

article.teaser {
  padding: 2.5rem 0 2rem 0;
  border-bottom: 1px solid #DDE0E7;
}

article.teaser a:hover h2 {
  color: #4BBCD7;
}

h1.blog_ttl {
  border-bottom: 1px solid #DDE0E7;
  margin-bottom: 0 !important;
  padding-bottom: 1rem;  
}

#content ul.pagination li.current a, ul.pagination li.current button {
  color: #4BBCD7;
  border-bottom: 2px solid #4BBCD7;
  background: transparent;
  font-weight: 500;
}

ul.side-nav .current {
  color: #6673D1 !important;
}

#content ul.pagination li a, ul.pagination li button {
  padding: 0.25rem;
  margin: 1rem 0.35rem 0 0.35rem;
  color: #55525C;
  font-weight: 300;
  font-size: 0.9375rem;
}

#content ul.pagination li:hover a, ul.pagination li a:focus, ul.pagination li:hover button, ul.pagination li button:focus {
  color: #4BBCD7;
  background: transparent;
}

#content ul.pagination li.arrow span {
  font-size: 0.8rem;
}

#content .post_meta .icon-social-facebook {
  font-size: 1.2rem;
}

#content .post_meta_text {
  padding: 0.2rem 0.4rem;
  margin: 0;
}


div.post_meta {
  border-bottom: 1px solid #DDE0E7;
  border-top: 1px solid #DDE0E7;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

#content ul, ol, dl {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

/*-------- promo ---------*/

#promo {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

#promo.off {
  opacity: 0;
  bottom: -2.5rem !important;
}

.promo_continer {
  padding: 0.5rem 0 0.5rem 0rem;
}

.promo_BG {
  background: #57CC8C;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#promo strong {
  font-weight: 500;
}

#promo p {
  color: #044722;
  font-weight: 400;
  font-size: 0.9375em !important;
  margin-bottom: 0;
}

#promo .close_promo {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
}

#promo a .icon-no {
  font-size: 0.7rem;
  color: #0A475C;
}

/*About*/

.tm {
  display: block;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.tm img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.tm_full img {
  filter: none !important;
  -webkit-filter: grayscale(0%) !important;
}

.tm_full .tm {
  max-width: 12rem;
  display: block;
  margin: 0.5rem auto 0 auto;
}


.shader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #6673D1;
  opacity: 0.1;
  top: 0;
}

.tm_wraper:hover .shader {
  opacity: 0;
}



.tm_full {
  position: absolute;
  background: #fff;
  top: -3rem;
  left: -3.15rem;
  padding: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 23px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 23px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 23px -2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.2s, width 0.1s, top 0.2s, position 0.5s, box-shadow 0.2s;
  -moz-transition: background 0.2s, width 0.1s, top 0.2s, position 0.5s, box-shadow 0.2s;
  -ms-transition: background 0.2s, width 0.1s, top 0.2s, position 0.5s, box-shadow 0.2s;
  -o-transition: background 0.2s, width 0.1s, top 0.2s, position 0.5s, box-shadow 0.2s;
  transition: background 0.2s, width 0.1s, top 0.2s, position 0.5s, box-shadow 0.2s;
  z-index: 302;
}

.tm_full img {
  margin: 2rem;
}

.tm_item {
  position: relative;
  height: 17rem!important;
}

.tm_item img {
  margin: 0 !important;
}

.tm_title {
  font-size: 0.9375rem;
  color: #9B9B9B !important;
  margin-bottom: 1rem !important;
}

.tm_wraper h5 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #565C5E;
  margin: 1rem 0 0rem 0;
}

.tm_links {
  margin: 0rem 0 0.5rem 0 !important;
}

.tm_links a {
  margin: 0 0.9125rem 0 0;
}

section#board {
  padding: 5rem 0 2.5rem 0;
  background-color: #F4F3F5;
}

.team_title {
  font-size: 2.25rem !important;
  margin: 0 0 2rem 0 !important;
  font-weight: 300 !important;
  color: #6673D1 !important;
}

section#team_full {
  padding: 5rem 0 2.5rem 0;
}

section#investors {
  padding: 5rem 0;
}

.bio p,
#investors p {
  font-size: 0.9375rem;
  line-height: 1.4;
}

#investors img {
  margin-bottom: 2rem ;
}



/*chart*/

.ct-chart .ct-bar {
  stroke-linecap: round !important;
  stroke-width: 20px ;
}


.ct-horizontal {
  stroke : none !important;
}

.ct-grids {
  stroke: #ddd ;
  stroke-width: 1px !important;
}


.ct-bar:hover {
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
}


.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-bar {
  stroke: #57CC8C !important;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-bar {
  stroke: #667AC7 !important;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point,
.ct-series-c .ct-bar {
  stroke: #52BADE !important;
}

.tooltip {
  background: #fff !important;
  width: 10rem;
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 20px -5px rgba(0,0,0,0.5);
  color: #4A4A4A;
  border-left: 3px solid #667AC7;
  -webkit-transition: all 0.16s ;
  -moz-transition: all 0.16s ;
  -ms-transition: all 0.16s ;
  -o-transition: all 0.16s ;
  transition: all 0.16s ;
}

.tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 10px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -7px;
  left: 50%;
  margin-left: -5px !important;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  padding-top: 2px;
  background: #F4F3F5;
  font-size: 1rem;
  outline-style: solid;
  outline-width: 5px;
  outline-color: #F4F3F5;
  display: block;
  height: 1.5rem !important;
}

#content .ct-chart-bar .ct-label.ct-horizontal.ct-end {
  background: #fff;
}

#content .ct-chart-bar .ct-label.ct-horizontal.ct-end {
  outline-color: #fff;
}


#graph_continer {
  padding: 1rem 0 1rem 0;
}

.graph_subtitle {
  padding: 1rem 0 0 0;
}

.subhead .button {
  display: block;
  width: 9rem !important;
  margin: 1rem auto 0 auto;
}

.ct-label {
  color: #565C5E !important;
}

.ct-axis-title {
  fill: #565C5E !important;
}

.legend {
  padding: 0rem 0.5rem 0 0.5rem;
  font-size: 1rem;
  display: inline-block;
}

.legend_continer {
  padding-top: 0.5rem;
  text-align: center;
}

.ct-vertical {
  color: #aaa !important;
}

.legend_dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.legend_dot.scylla {
  background: #667AC7;
}


.legend_dot.Cassandra_2 {
  background: #57CC8C;
}

.legend_dot.Cassandra_1 {
  background: #52BADE;
}

input.button {
  font-size: 0.9375em;
  color: #0A475C !important;
  border: 1px solid #4BBCD7;
  font-weight: 500 !important;
  padding: 0.1rem 1.5rem !important;
  border-radius: 1rem;
  line-height: 1.85rem !important;
  background: #4BBCD7 !important;
  position: relative;
  top: -1px;
}

/*newsletter*/ 

.reveal-modal {
  min-height: auto !important;
}

#newsletter_signup {

}

.dark_modal {
  padding: 2rem 3rem 1rem 3rem;
  background: #3a2d55;
  border: 0px solid !important;
  border-radius: 0.5rem;
}

.dark_modal p {
  color: #F5F5F6;
}

.dark_modal h2 {
  color: #F5F5F6;
  font-size: 1.85rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

div.mc-field-group input {
  height: 2.5rem;
  border-top: 0px solid transparent !important;
  border-left: 0px solid transparent !important;;
  border-right: 0px solid transparent !important;;
  border-bottom: 2px solid #5D5177 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0.5rem;
  background: transparent !important;
  color: #F5F5F6;
}

div.mc-field-group input {
  color: #fff !important;
}

div.mc-field-group input:focus {
  background-color: #5D5177;
  background: transparent !important;
}

#mc-embedded-subscribe {
  margin-top: 0.75rem !important;
  display: block !important;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.25rem;
  background: #57CC8C !important;
  color: #044722 !important;
  border: 0px solid transparent !important;
}


div.mc-field-group label {
  color: #B8B8B8;
  font-weight: 300;
  line-height: 2.5rem;
  height: 2.5rem;
  border-top: 0px solid transparent !important;
  border-left: 0px solid transparent !important;;
  border-right: 0px solid transparent !important;;
  border-bottom: 2px solid #5D5177 !important;
}

.newsletter a {
  color: #DCD8E3;
  font-weight: 300;
}

.newsletter a span {
  margin-right: 0.5rem;
}

.newsletter {
  margin-bottom: 1rem;
}

.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.9) !important;
}

.reveal-modal .close-reveal-modal {
  font-size: 1.2em !important;
  color: #756892 !important;
}



#newsletter-page div.mc-field-group label {
  color: #565C5E;
  border-bottom: 2px solid #A6A6A6 !important;
}

#newsletter-page div.mc-field-group input {
  border-bottom: 2px solid #A6A6A6 !important;  
  font-weight: 400;
  color: #565C5E !important;
}

#contentp.newsletter_intro {
  font-size: 1.125rem;
}

img.vertigo {
  animation-name: infinite-spinning;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  
  
  margin: 2rem auto;
}

.vertigo_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);
  }
}

.vertigo_continer {
  position: relative;
  overflow: visible;
}

.bg_404 {
  background: #3A2E56 !important;
  overflow: hidden;
}

.ttl_404 {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.ttl_404 h1 {
  text-align: center;
  font-weight: 500;
  font-size: 7rem;
  color: #fff;
  margin-bottom: 0rem !important;
  line-height: 1;
}

.ttl_404 p {
  color: #fff;
  text-align: center;
  width: 100%;
}

#sidebar {
  position: relative;
}

.stick {
  position: fixed;
  top: 0;
}

.field_label {
  display: block;
  width: 35%;
  float: left;
  margin-top: 0.6rem;
  color: #B8B8B8;
}

.field_group input,
.field_group select {
  width: 65%;
  float: left;
  height: 2.5rem;
  border: 0px solid transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0.5rem;
  background: transparent !important;
  color: #F5F5F6;
  margin: 0 !important;
}

label.error {
  color: #FA325A !important;
}

.field_group hr {
  margin: 0!important;
  border-top: 2px solid #5D5177;
}

.field_group {
  margin-bottom: 1rem;
}

small.error {
  margin: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  color: #FA325A !important;
  text-align: right !important;
}

.field_group select,
.field_group_download select {
  background-image: url('../img/down.png') !important;
  background-position: center right !important;
  background-repeat: no-repeat !important;
}



.dark_modal {
  min-width: 520px;
}

#download_pop .button {
  margin-top: 1.25rem;
}

.wufoo {
  font-family: Roboto-Regular;
  color: #F5F5F6;
  background-color: #3A2D55;
}

.wufoo .info h2 {
  
  color: #F5F5F6;
  font-size: 1.85rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.wufoo .info div {
  color: #F5F5F6;
  font-size: 0.9375rem;
  font-weight: 300;
}

.wufoo ul {
  background: transparent !important;
}

.wufoo li {
  background: transparent !important; 
  
  padding: 0 !important;
}

.field_group_download {
  border-bottom: 2px solid #5D5177 ;
  margin-top: 0.5rem;
}

.wufoo li.focused {
  background: transparent !important; 
  border-bottom: 2px solid #5D5177 !important ;
}

.wufoo li div {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
  font-family: 'Roboto', sans-serif;
  color: #F5F5F6;
}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file {
  color: #F5F5F6;
}



.wufoo label.desc, .wufoo legend.desc {
  display: inline-block;
  width: 32%;
  vertical-align: middle;
  color: #B8B8B8;
  font-weight: 300;
  font-size: 0.9375rem;
}

.field_group_download input,
.field_group_download select {
  width: 100%;
  float: left;
  height: 2.5rem;
  border: 0px solid transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0.5rem;
  background: transparent !important;
  color: #F5F5F6;
  margin: 0 !important;
  outline: none;
}

.wufoo input.btTxt {
  margin-top: 1.5rem !important;
  display: block !important;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.25rem;
  background: #57CC8C !important;
  color: #044722 !important;
  border: 0px solid transparent !important;
  width: 150px
}

#wuf-adv {
  display: none;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  color: #B8B8B8;
}

#header {
  border-bottom: 0px solid transparent
}

#errorLi, .error-container {
  display: none;
}

form li.error {
  background-color: transparent !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


/*ribon*/
.ribon {
  display: none;
  position: fixed;
  z-index: 10000;
  width: 130px;
  height: 130px;
  background-image: url('../img/ribon_14.png');
  top: 0;
  left: 0;
}

.tabs {
  margin: 0 !important;
  padding: 0;
}

.dw_tabs {
  border-bottom: 1px solid #979797;
}

.tabs-content > .content.active {
  background-color: transparent !important;
}

.tab-title.active {
  border-bottom: 4px solid #6673D1 !important;
}

.tabs dd, .tabs .tab-title {
  position: relative;
  bottom: -2px;
  border-bottom: 4px solid transparent;
}

.tabs dd > a, .tabs .tab-title > a {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: #525055;
}

.tab-title.active {
  background-color: transparent !important;
}

.tabs dd > a:focus, .tabs .tab-title > a:focus,
.tabs dd > a:hover, .tabs .tab-title > a:hover {
  outline: none;
  background: transparent !important;
}



.download_item h3 {
  margin-bottom: 0.5rem!important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}


.download_item .button {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  background-color: transparent !important;
  color: #6673D1 !important;
  border: 1px solid #6673D1;
  border-radius: 3rem;
  text-align: center;
  display: block;
  padding: 0.45rem 1rem 0.5rem 1rem;
}

.download_item:hover .button {
  font-family: Roboto-Regular;
  background-color: #6673D1 !important;
  color: #ffffff !important;
}

span.ver {
  color: #9C9C9C;
  font-size: 0.9rem;
}

.v_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabs-content .content {
  padding: 1.5rem 0 0 0;
}

.content ul, 
.content ol, 
.content dl {
  margin-left: 1rem !important;
  font-size: 0.9375rem !important;
}

.list_heading {
  margin: 0 0 0.5rem 0!important;
}

#topoffer {
  background-color: #ffd57a;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
  padding: 0 0 0.2rem 0;
}

#topoffer p {
  font-size: 1rem;
  margin: 0.6rem 0;
  text-align: center;
  color: #404040;
  font-weight: 400;
}

/*Traning*/

p.intro {
  font-size: 1.375rem !important;
  margin-bottom: 3rem !important;
  font-weight: 300 !important;
  margin-top: -1rem !important;
  line-height: 1.5 !important;
}

.course_head {
  height: 170px;
  background-image: linear-gradient(-151deg, #5B69CA 1%, #4856B5 92%);
  border: 1px solid #979797;
  margin: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.course_head h2 {
  color: #fff;
  font-size: 1.75rem;
  padding: 1.5rem;
}

.course_meta {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #DDE0E7;
}

.course_info {
  padding: 1rem 1.5rem;
}

.course_meta img {
  vertical-align: middle;
  margin-bottom: 0.3rem !important;
  margin-right: 0.5rem;
}

.course_meta span {
  padding-right: 1rem;
}

.course_meta.no_border {
  padding: 1rem 0;
  margin: 0 0 1rem 0 !important;
  border-bottom: 0px solid transparent!important;
}

.course {
  background: #FFFFFF;
  border: 1px solid #DDE0E7;
  border-radius: 4px;  
}
.course:hover {

}


.course .button {
  color: #6673D3 !important;
  text-transform: uppercase;
  font-size: 0.9375rem !important;
  font-weight: 500;
  border: 1px solid #DDE0E7;
  background-color: transparent !important;
  margin-top: 1rem !important;
}

.course:hover .button {
  color: #fff !important;
  border: 1px solid #6673D3 !important;
  background-color: #6673D3 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.course_al {
  padding: 0.75rem 0 0.2rem 0;
  border-top: 1px solid #D5D5D5;  
  position: relative;
}

.course_al h3 {
  font-weight: 400;
  font-size: 1rem !important;
}
.course_al ul {
  margin: -0.75rem 0 1rem 1rem !important;  
}

.course_al ul > li > ul {
  margin: 0 0 1rem 1rem !important;  
}

h2.days {
  font-size: 1rem !important;
  font-weight: bold !important;
  margin-top: 2rem !important;
}


.time_lable {
  position: absolute;
  right: 0.75rem;
  top: 0.9rem;
  color: #B9B8BB;
}

.contact_box {
  background-color: #EFEEEF;
  padding: 1.5rem;
}

.contact_box h3 {
  font-weight: bold;
  font-size: 1.25rem !important;
} 

.contact_box p, .contact_box h3  {
  margin: 0!important;
}

.contact_box .button {
  margin-top: 0.45rem;
  margin-bottom: 0 !important;
}

.contact_box p.small {
  color: #797979 !important;
}

.course_agendat_ttl {
  margin-top: 2rem;
  font-weight: 300 !important;
  color: #6673D1 !important;
}

.button.purple:hover {
  color: #fff !important;
  background-color: #6673D3 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*Marketo form*/






.mktoForm {
  font-family: 'Roboto', sans-serif !important;
  color: #F5F5F6;
  padding-bottom: 0 !important;
  width: 100% !important;
}

h2.download_ttl {
  color: #F5F5F6;
  font-size: 1.85rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.mktoForm .info h2 {
  color: #F5F5F6;
  font-size: 1.85rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.mktoForm input, 
.mktoForm select  {
  font-family: 'Roboto', sans-serif !important;
  font-size:16px !important;
  padding:10px 10px 10px 5px !important;
  display:block!important;
  width:100% !important;
  border-top:none !important;
  border-left:none !important;
  border-right:none !important;
  background: #3A2D55 !important;
  border-bottom:2px solid #5D5177 !important;
  box-shadow: none !important;
  color: #F5F5F6 !important;
  height: auto !important;
  padding-bottom: 8px;
}

.mktoForm .mktoRequiredField label.mktoLabel {
  position: relative;
}

.mktoForm .mktoRequiredField .mktoAsterix {
  position: absolute !important;
  top: 14px !important;
  right: 8px !important;
  display: none !important;
}

.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
  display: none;
}

.mktoForm select.mktoField {
  background-image: url('../img/down_1.png')!important;
  background-repeat: no-repeat !important;
  background-position: center right !important;
}

.mktoForm .mktoFieldWrap {
  margin-top: 8px;
}

.mktoForm .mktoFormCol {
  width: 100% !important;
}

.mktoForm .mktoFieldWrap {
  width: 100% !important;
}

.mktoForm input:focus { 
  outline:none !important; 
}

.mktoButton {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  display: block !important;
  height: 2.5rem;
  border-radius: 1.25rem;
  background: #57CC8C !important;
  color: #044722 !important;
  border: 0px solid transparent !important;
  width: 150px;
  outline:none !important; 
  font-size: 16px !important;
  font-weight: bold !important;
  box-shadow: none!important;
}

.mktoButtonWrap {
  margin-left: 0 !important;
}

.mktoForm .mktoError {
  left: 0 !important;
}

::-webkit-input-placeholder {
 color: #F5F5F6;
}

:-moz-placeholder { /* Firefox 18- */
 color: #F5F5F6;  
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #F5F5F6;  
}

:-ms-input-placeholder {  
 color: #F5F5F6;  
}

.icon-rss-64 {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url('/img/icon-rss-64.png') no-repeat left top;
  background-size: 22px 22px;
}

.blog_ttl .icon-rss-64 {
  float: right; 
  margin: 10px 0 0 0;
}

.row .row.blog-row-with-tags {
  padding-top: 20px; 
  margin-top: 10px; 
  margin-left: 0px;
}

.row .row.blog-row-with-tags span {
  font-size: 10.5pt;
  font-weight: bold;
}

a.blog-tag {
  font-size: 10.5pt; 
  color: #333; 
  display: inline-block; 
  padding: 4px 7px; 
  background: #eee; 
  margin-right: 3px; 
  margin-bottom: 3px;
  font-weight: normal;
  border-radius: 3px;
}

a.blog-tag:hover {
  background: #ddd; 
}

#blog_tags {
  margin-bottom: 30px;
}

#blog_tags h1 {
  margin-bottom: 5px; 
  padding-bottom: 5px;
}

/*--Docmentation--*/

.logo {
  margin: 2rem 0 !important;

}





