[submodule "grafana/plugins/camptocamp-prometheus-alertmanager-datasource"]
	path = grafana/plugins/camptocamp-prometheus-alertmanager-datasource
	url = https://github.com/camptocamp/grafana-prometheus-alertmanager-datasource.git
