[Unit]
Description=Set the start-all command from user data

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/centos/scylla-grafana-monitoring-scylla-monitoring/conf-from-user.sh
WorkingDirectory=/home/centos/scylla-grafana-monitoring-scylla-monitoring
[Install]
WantedBy=multi-user.target

