body {
  transition: all 400ms ease;
}
.custom-promo-banner-wrap {
  background:#F5F5F5;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10001;
  padding: 15px 0px 15px 0px;
  overflow: hidden;
}
.custom-promo-banner-wrap .custom-promo-banner--relative {
  position: relative;
}
.custom-promo-banner-wrap .custom-promo-banner--img-left {
  display: none;
  z-index: 0;
  width: 110px;
  max-width: 110px;
  top: -50%;
  left: 0;
  position: absolute;
}
.custom-promo-banner-wrap .custom-promo-banner--img-center {
  display: none;
  z-index: 0;
  width: 110px;
  max-width: 110px;
  bottom: -24px;
  left: 36%;
  position: absolute;
}
.custom-promo-banner-wrap .custom-promo-banner--img-center img {
  max-width: 52.02px;
  margin: 0 auto;
  display: block;
}
.custom-promo-banner-wrap .custom-promo-banner--img-right {
  display: none;
  z-index: 0;
  width: 400px;
  max-width: 500px;
  top: -29%;
  right: -60px;
  position: absolute;
}
.custom-promo-banner {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
}
.custom-promo-banner .custom-promo-banner--title {
  color: #444;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 10px;
}
.custom-promo-banner .custom-promo-banner--logo {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.custom-promo-banner .custom-promo-banner--button {
  border-radius: 4px;
  padding: 7px 20px;
  min-width: unset;
  background: #008dff;
  color: white;
  margin: 0 auto;
  border: 2px solid #fff;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: all .3s ease-in-out;
}
.custom-promo-banner .custom-promo-banner--button:hover {
  color: #008dff;
  background: #fff;
  border-color: #008dff;
}
.custom-promo-banner .fa {
  font-weight: 400;
}
.custom-promo-banner .custom-promo-banner--close {
  position: absolute;
  padding: 1px 6px;
  right: 3px;
  color: #000;
  top: -20px;
  font-size: 30px;
  width: unset !important;
  background: none;
  border: none;
  outline: none;
  opacity: 1;
  transition: all .3s ease-in-out;
  line-height: 1.5;
  font-weight: 400;
}
.custom-promo-banner .custom-promo-banner--close:hover {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .custom-promo-banner-wrap .custom-promo-banner--img-right, .custom-promo-banner-wrap .custom-promo-banner--img-left, .custom-promo-banner-wrap .custom-promo-banner--img-center {
      display: block;
 }
  .custom-promo-banner .custom-promo-banner--logo {
      max-width: 28%;
 }
  .custom-promo-banner .custom-promo-banner--title {
      font-size: 15px;
      font-weight: 400;
      line-height: 2.2;
 }
  .custom-promo-banner .custom-promo-banner--button {
      padding: 5px 15px;
      margin-top: -4px;
 }
}
@media (min-width: 992px) {
  .custom-promo-banner {
      flex-direction: unset;
      max-width: 1090px;
      margin: 0 auto;
      position: relative;
      align-items: center;
      padding: 0px;
      line-height: 1.5;
 }
  .custom-promo-banner--button {
      margin: -4px 0 0 !important;
 }
  .custom-promo-banner .custom-promo-banner--title {
      margin: 0px;
      margin: 0 18px 3px 0px;
      line-height: 1.3;
 }
  .custom-promo-banner .custom-promo-banner--close {
      right: 3px;
 }
}
@media (min-width: 1150px) {
  .custom-promo-banner .custom-promo-banner--close {
      right: -70px;
 }
}